@import '/src/styles/config';

.input-field-container{
  display: flex;
  flex-direction: column;

  .ng-invalid.ng-dirty{
    border-color: var(--color-danger);
  }
}

.input-field-container > input{
  height: 48px;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 12px;
  font-weight: bold;

  background-color: var(--color-background-light-contrast);

  border: solid 2px var(--color-contrast-light);
  border-radius: 4px;
  transition: border-color 0.3s ease;

  color: var(--color-contrast-dark);
}

.input-field-container > input:focus{
  outline: none;
  border-color: var(--color-primary-main);
}

.input-centered{
  padding: 0 !important;

  text-align: center;
}

.label-container{
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;

  & > label {
    font-size: 12px;
    font-weight: 500;
  
    color: var(--color-contrast-medium-lighter);
  }

  .error-message {
    display: none;
    color: red;
    font-size: 10px;
  }

  .error-message.active {
    display: block;
  }
}
