@import './config';

@mixin triangle($size, $side, $left: 0, $top: 0, $color: red){
  position: relative;

  &::after{
    content: '';
    position: absolute;

    left: $left;
    top: $top;
    border: $size solid transparent;
    border-#{$side}-color: $color;
  }
}

.arrowAnchor{
  width: 81px;
  height: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: black;

  &:visited, &:active{
    color: inherit;
  }

  img{
    height: 8px;
  }

  span{
    font-size: 12px;
    font-weight: bold;
  
    transition: color 0.2s ease;
  }

  &:hover{
    color: var(--color-contrast-medium-lighter);
  }
}

.button{
  height: 48px;

  padding-left: 24px;
  padding-right: 24px;

  border: none;
  border-radius: 24px;

  font-size: 12px;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
}

.button-primary{
  color: white;
  background-color: var(--color-primary-main);
}

.button-aux{
  color: var(--color-contrast-medium-lighter);
  background-color: var(--color-accent-4);
}

.button-danger{
  color: white;
  background-color: var(--color-danger);
}

.button-secondary{
  color: var(--color-contrast-medium-darker);
  background-color: var(--color-accent-3);
}