@import 'config';

// Main color scheme

html{
  --color-primary-main: #7C5DFA;
  --color-primary-accent: #9277FF;

  --color-bg-light: #F8F8FB;
  --color-bg-dark: #141625;

  --color-accent-1: #1E2139;
  --color-accent-2: #252945;
  --color-accent-3: #373B53;

  --color-contrast-medium-darker: #888EB0;
  --color-contrast-medium-lighter: #7E88C3;
  --color-contrast-light: #DFE3FA;
  --color-contrast-dark: #0C0E16;

  --color-danger: #EC5757;
  --color-danger-faded: #9277FF;

  --color-background-light-contrast: #FFFFFF
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color-bg-light);
  font-family: $font-stack-primary;
}

.top-container{
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: $sidebar-nav-desktop-width 1fr;
}

@media(max-width: $breakpoint-tablet-width){
  .top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

