@import 'config';

// Main color scheme

#top-container{
  --color-primary-main: #7C5DFA;
  --color-primary-accent: #9277FF;

  --color-bg-light: #F8F8FB;
  --color-bg-light-b: #FFFFFF;
  --color-bg-dark: #141625;

  --color-accent-1: #1E2139;
  --color-accent-2: #252945;
  --color-accent-3: #373B53;
  --color-accent-3-b: #373B53;
  --color-accent-4: #F9FAFE;

  --color-contrast-medium-darker: #888EB0;
  --color-contrast-medium: #858BB2;
  --color-contrast-medium-lighter: #7E88C3;
  --color-contrast-strong: #858BB2;
  --color-contrast-light: #DFE3FA;
  --color-contrast-light-b: #FFFFFF;
  --color-contrast-dark: #0C0E16;

  --color-danger: #EC5757;
  --color-danger-faded: #FF9797;

  --color-background-light-contrast: #FFFFFF;
  --color-background-light-contrast-b: #DFE3FA;

  --color-button-aux-active: #DFE3FA;
  --color-button-secondary-active: #0C0E16;
}
 
#top-container.dark-theme{
  --color-accent-3: #1E2139;
  --color-accent-1: #FFFFFF;
  --color-accent-3-b: #0C0E16;
  --color-bg-light: #141625;
  --color-bg-light-b: #141625;
  --color-background-light-contrast: #1E2139;
  --color-accent-4: #252945;

  --color-contrast-dark: #FFFFFF;
  --color-contrast-light: #252945;
  --color-contrast-light-b: #252945;
  --color-background-light-contrast-b: #1E2139;

  --color-contrast-medium-darker: #DFE3FA;
  --color-contrast-medium-lighter: #DFE3FA;

  --color-contrast-strong: #FFFFFF;
  --color-contrast-medium: #DFE3FA;

  --color-button-aux-active: #FFFFFF;
  --color-button-secondary-active: #1E2139;
}

.layout-container{
  background-color: var(--color-bg-light);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Override chrome autofill input style */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-background-light-contrast) inset !important;
  -webkit-text-fill-color: var(--color-contrast-dark) !important;
}

body{
  font-family: $font-stack-primary;
}

.layout-container{
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: $sidebar-nav-desktop-width 1fr;
}

@media(max-width: $breakpoint-tablet-width){
  .layout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

