header{
  width: 100%;
  height: 59px;

  margin-top: 72px;

  border: solid 1px pink;
}

.content-flex-container{
  display: flex;
  justify-content: space-between;
}

.container-flex-right{
  width: 100%;
  max-width: 308px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}