<a routerLink="tmp" class="arrowAnchor back-link">
  <img src="assets/icon-arrow-left.svg" alt="">
  <span>Go Back</span>
</a>

<header class="page-header">
  <div class="status-info-container">
    <span>Status</span>
    <status-info-label></status-info-label>
  </div>

  <div class="controls-container">
    <button class="button button-aux">Edit</button>
    <button class="button button-danger">Delete</button>
    <button class="button button-primary">Mark as Paid</button>
  </div>
  
</header>

<article>
  <header class="invoice-header">
    <div class="id-desc-container">
      <h4><span>#</span>XM9141</h4>
      <span>Graphic Design</span>
    </div>
    <div class="address-info-container">
      <span>19 Union Terrace</span>
      <span>London</span>
      <span>E1 3EZ</span>
      <span>United Kingdom</span>
    </div>
  </header>

  <section class="invoice-details-container">
    <div class="dates-container">
      <div>
        <span class="txt-light">Invoice Date</span>
        <span class="txt-strong">21 Aug 2021</span>
      </div>
      <div>
        <span class="txt-light">Payment Due</span>
        <span class="txt-strong">20 Sep 2021</span>
      </div>
    </div>

    <div class="client-info-container">
      <span>Bill To</span>
      <span class="txt-strong">Alex Grim</span>
      <span>84 Church Way</span>
      <span>Bradford</span>
      <span>BD1 9PB</span>
      <span>United Kingdom</span>
    </div>
    <div class="mail-recipient-container">
      <span class="txt-light">Sent to</span>
      <span class="txt-strong">alexgrim@mail.com</span>
    </div>
  </section>

  <section class="invoice-item-details">
    <div class="items-list">
      
    </div>
    <div class="sum-container">

    </div>
  </section>

</article>