@import 'src/styles/config';


.info-label {
  position: relative;

  width: 104px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border: none;

  border-radius: 6px;
  overflow: hidden;

  z-index: 1;

  ::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 5.71%;

    z-index: -1;
  }

  span{
    font-weight: bold;
  }
}

.status-span{
  font-size: 12px;
}

.bulletpoint{
  height: 8px;
  width: 8px;

  border-radius: 50%;
  margin-right: 8px;
}

.info-label.status-Paid{
  ::before{
    background-color: #33D69F;
  }

  span{
    color: #33D69F;
  }

  & > .bulletpoint{
    background-color: #33D69F;
  }
}

.info-label.status-Pending{
  ::before{
    background-color: #FF8F00;
  }

  span{
    color: #FF8F00;
  }

  & > .bulletpoint{
    background-color: #FF8F00;
  }
}

.info-label.status-Draft{
  ::before{
    background-color: #373B53;
  }

  span{
    color: #373B53;
  }

  & > .bulletpoint{
    background-color: #373B53;
  }
}