@import 'src/styles/utilities';
@import 'src/styles/_config';

.modal-container{
  height: 249px;
  width: 100%;
  max-width: 480px;

  border-radius: 8px;
  background-color: var(--color-background-light-contrast);

  padding: 48px;

  margin-left: $sidebar-nav-desktop-width;
}

.text-container{
  color: var(--color-contrast-dark);

  & h1{
    margin-bottom: 13px;
  }

  & span{
    font-size: 12px;
  }
}

.controls-container{
  margin-top: 16px;

  display: flex;
  justify-content: flex-end;

  & > *:not(:last-child){
    margin-right: 8px;
  }
}

@media(max-width: $breakpoint-tablet-width){
  .modal-container{
    margin-left: 0;
  }
}