
<header class="login-header">
  <h1>Login</h1>
  <span>Welcome to NeoPay, please login</span>
</header>

<section class="content-container">
  <div class="form-container">

    <form [formGroup]="loginForm">
      <div class="input-container">
        <input-field
          controlName="username"
          label="Username"
          placeholder="Username"
          >
        </input-field>
      </div>
      <div class="input-container">
        <input-field
          controlName="password"
          label="Password"
          placeholder="Password"
          type="password"
        >
        </input-field>
      </div>

      <div class="controls-container">
        <a routerLink="/register">register</a>
        <button class="button button-primary">Login</button>
      </div>

    </form>

  </div>
</section>