
<section class="content-container">
  <div class="form-container">

    <form [formGroup]="loginForm">
      <div class="input-container">
        <input-field
          controlName="username"
          label="Username"
          placeholder="Username"
          >
        </input-field>
      </div>
      <div class="input-container">
        <input-field
          controlName="password"
          label="Password"
          placeholder="Password"
          type="password"
        >
        </input-field>
      </div>
    </form>

  </div>
</section>