@import '/src/styles/config';

.content-container{
  display: flex;
  align-items: center;

  span{
    font-size: 12px;
    font-weight: bold;

    margin-right: 16px;
  }
}

.span-short{
  display: none;
}

@media(max-width: $breakpoint-tablet-width-small){
  .span-short{
    display: inherit;
  }

  .span-full-width{
    display: none;
  }
}