@import '/src/styles/config';

.content-container{
  width: 100%;
   
  display: flex;
  justify-content: center;

  border: solid 2px red;
}

.page-container{
  width: 100%;
  max-width: 730px;

  margin-right: 30px;
  margin-left: 30px;

  border: solid 2px blue;
}