<div [ngClass]="isActive ? 'top-container-background-dim active' :  'top-container-background-dim'">
  <div [ngClass]="isActive ? 'form-container active' : 'form-container'"> 
    <form>
      <header>
        <h2 *ngIf="!isNew">Edit <span class="hash-prefix">#</span>{{_tmpInvoiceName}}</h2>
        <h2 *ngIf="isNew">New Invoice</h2>
      </header>

      <fieldset>
        <header>Bill From</header>

        <div class="fields-grid-container">
          <input-field 
            label="street adress"
            placeholder="19 Union Terrace"
            >
          </input-field>
        </div>

        <div class="fields-grid-container tripple-column-grid">
          <input-field></input-field>
          <input-field></input-field>
          <input-field></input-field>
        </div>

      </fieldset>

      <fieldset>
        <header>Bill to</header>

        <div class="fields-grid-container">
          <input-field></input-field>
          <input-field></input-field>
          <input-field></input-field>
        </div>

        <div class="fields-grid-container tripple-column-grid">
          <input-field></input-field>
          <input-field></input-field>
          <input-field></input-field>
        </div>

        <div class="fields-grid-container dual-column-grid double-margin">
          <input-field></input-field>
          <input-field></input-field> 
        </div>

        <div class="fields-grid-container">
          <input-field></input-field>
        </div>

      </fieldset>
    </form>
  </div>

  <div class="form-controls-container">
    <div class="controls-flex-container">
      <button class="button button-aux">Discard</button>
      <div>
        <button class="button button-secondary">Save as Draft</button>
        <button class="button button-primary">Save & Send</button>
      </div>
    </div>
  </div>

</div>     