@import '/src/styles/config';
@import '/src/styles/utilities';


$controls-bar-height: 110px;
$form-margin-size: 56px;

/* TODO - refine active/inactive */

.top-container-background-dim{
  position: absolute;

  width: 100vw;
  height: 100vh;

  max-width: 100%;

  top: 0;
  left: 0;

  z-index: 10;

  pointer-events: none;

  &::before{ /* background-dim */
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;

    transition: background-color 0.3s ease-out;

    opacity: 50%;

    z-index: 8;
  }
}

.top-container-background-dim.active{
  pointer-events: all;

  &::before{
    background-color: black;
  }
}

.form-container{
  position: relative;
  transform: translate(-1000px, 0px);

  max-height: 100vh;

  width: 80%;
  max-width: 719px;

  margin-right: 300px;

  padding-bottom: $controls-bar-height;

  background-color: white;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  z-index: 10;

  transition: transform 0.5s ease-out;

  padding-left: $sidebar-nav-width;

  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.form-container::-webkit-scrollbar {
  display: none;
}

.form-container.active{
  transform: translate(0, 0);
}
 
.form-container form{
  width: 100%;
  max-width: 80%;

  margin-left: $form-margin-size;
  margin-right: $form-margin-size;

  padding-top: $form-margin-size;

  overflow: hidden;
}

.form-container form > header, .form-container > form fieldset{
  margin-bottom: 48px;
}

.hash-prefix{
  color: $color-contrast-medium-darker;
}

.form-container > form fieldset{
  min-width: 0; /* This resets browser default width formatting.. lost some time to this.. */
  border: none;
}


.form-container form fieldset > header{
  margin-bottom: 24px;

  font-size: 12px;
  font-weight: bold;
  color: $color-primary-main;
}

.fields-grid-container{
  margin-top: 24px;

  display: grid;
  grid-row-gap: 24px;
}

.tripple-column-grid{
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-column-gap: 8%;
}

.dual-column-grid{
  grid-template-columns: 47.62% 47.62%;
  grid-column-gap: 4.76%;
}

.double-margin{
  margin-top: 48px;
}

.form-controls-container{
  position: absolute;

  top: 100%;
  left: 0;

  height: $controls-bar-height;
  width: 80%;
  max-width: 719px;

  margin-top: -$controls-bar-height;
  padding-left: $sidebar-nav-width;

  z-index: 15;

  background-color: white;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  -webkit-box-shadow: 0px 34px 157px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 34px 157px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 34px 157px 0px rgba(0,0,0,0.21);
}

.controls-flex-container{
  margin-left: $form-margin-size;
  margin-right: $form-margin-size;

  width: 100%;
  max-width: 80%;

  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-flex-container > div > button{
  margin-left: 8px;
}