@import '/src/styles/config';

.top-container-background-dim{
  position: absolute;
  width: 100vw;
  height: 100vh;

  max-width: 100%;

  top: 0;
  left: 0;

  z-index: 10;

  pointer-events: none;

  &::before{ /* background-dim */
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;

    transition: background-color 0.3s ease-out;

    opacity: 50%;

    z-index: 8;
  }
}

.top-container-background-dim.active{
  pointer-events: all;

  &::before{
    background-color: black;
  }
}

.form-container{
  position: relative;
  transform: translate(-1000px, 0px);

  height: 100vh;

  width: 80%;
  max-width: 719px;

  margin-right: 300px;

  background-color: white;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  z-index: 10;

  transition: transform 0.5s ease-out;

  padding-left: $sidebar-nav-width;

  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.form-container::-webkit-scrollbar {
  display: none;
}

.form-container.active{
  transform: translate(0, 0);
}
 
.form-container form{
  width: 100%;
  max-width: 80%;

  margin-left: 56px;
  margin-right: 56px;

  padding-top: 56px;

  overflow: hidden;
}

.hash-prefix{
  color: $color-contrast-medium-darker;
}

.form-container > form fieldset{
  min-width: 0; /* This resets browser default width formatting.. lost some time to this.. */
  border: none;

  margin-bottom: 48px;
}


.form-container form fieldset > header{
  margin-bottom: 24px;

  font-size: 12px;
  font-weight: bold;
  color: $color-primary-main;
}

.tripple-column-field-grid-container{
  margin-top: 24px;

  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-column-gap: 8%;

  grid-row-gap: 24px;
}

.full-width-input-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
}