<nav>
  <div class="logo-container">
    <div class="pacman-logo">
      
    </div>
  </div>

  <div class="nav-menu">
    <ul>
      <li>
        <a (click)="onLogout()" routerLink="login">logout</a>
      </li>
    </ul>
  </div>


  <div class="bottom-container">
    <div class="theme-selector-container">
      <img (click)="onThemeChange()" [src]="isDarkTheme ? 'assets/icon-sun.svg' :'assets/icon-moon.svg'" alt="">
    </div>
    <div class="profile-img-container">
      <img [src]="'assets/image-avatar.jpg'" alt="profile.img">
    </div>
  </div>
</nav> 
