
<header class="login-header">
  <h1>Register</h1>
  <span>Welcome to NeoPay, proceed to create an account</span>
</header>

<section class="content-container">
  <div class="form-container">

    <form [formGroup]="registerForm">
      <div class="input-container">
        <input-field
          controlName="username"
          label="Username"
          placeholder="Username"
          >
        </input-field>
      </div>

      <div class="input-container">
        <input-field
          controlName="email"
          label="Email"
          placeholder="email"
          type="email"
        >
        </input-field>
      </div>

      <div class="input-container">
        <input-field
          controlName="password"
          label="Password"
          placeholder="Password"
          type="password"
        >
        </input-field>
      </div>

      <div class="input-container">
        <input-field
          controlName="confirm"
          label="Confirm Password"
          placeholder="Password"
          type="password"
        >
        </input-field>
      </div>

      <div class="controls-container">
        <a routerLink="/login" class="arrowAnchor">
          <img src="assets/icon-arrow-left.svg" alt="" />
          <span>Login</span>
        </a>
        <button (click)="onRegistrationSubmit()" class="button button-primary">Register</button>
      </div>

    </form>

  </div>
  <div class="oauth-container">
    <header>
      <span>Or sign in with:</span>
    </header>
    <div class="auth-options-container">
      <ul>
        <li (click)="googleSignIn()" class=google-oa2>
          <img src="assets/google-sign-in.png" alt="google-auth.jpg">
          <span>Google</span>
        </li>
      </ul>
    </div>
</div>
</section>