@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

// fonts

$font-stack-primary: 'Spartan', sans-serif; 

// Containers config

$sidebar-nav-desktop-width: 103px;
$sidebar-nav-mobile-height: 80px;

// Breakpoints

$breakpoint-tablet-width: 800px;
$breakpoint-tablet-width-medium: 720px;
$breakpoint-tablet-width-small: 640px;
$breakpoint-mobile-width-large: 600px;